html {
  background-color: rgb(255, 251, 245);
  color: #968893;
  height: 200px;
}

h2 {
  font-size: 38px;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
  color: #7c707a;
}

.text-container p {
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px;
}

.math {
  color: #867e85;
  padding-top: 5rem;
  font-size: 38px;
  text-align: center;
}
