.quotes-container {
  text-align: center;
  margin: 15rem;
}

.quote,
.author {
  font-size: 30px;
  color: #6e646c;
}

.loading {
  text-align: center;
  font-size: 32px;
  color: #ff07d1;
  margin: 5rem;
}

.author {
  padding-top: 1rem;
}
